.container {
  width: 80%;
  height: auto;
  /* Subtrai a altura da Navbar */
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 